ion-content {
  --background: #ffffff;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;

  .screen {
    text-align: center;
    position: inline-block;
    top: auto;
    right: 50%;
    left: 50%;

    .header {
      --padding-top: 20px;
      --background: #ffffff;

      ion-icon {
        color: black;
      }

      ion-img {
        height: 70px;
      }
    }

    .hallo {
      ion-item {
        padding: 15px 15px;
        margin-bottom: 10px;
        --min-height: 120px;
        --background: #FFAAA6;
        --border-radius: 15px;
        font-weight: 700;
        font-size: 30px;
        strong {
          text-shadow: 2px 2px 5px #000000;
        }

        strong.user {
          color: #DCEDC2;
        }

        p {
          padding-top: 5px;
          font-size: 10pt;
          color: #363636;
        }
      }
    }

    .menu1 {
      ion-item {
        margin: 15px 15px;
        --min-height: 100px;
        --background: #A8E6CE;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(5px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 15px;

        h1 {
          color: #4e2f00;
        }

        p {
          color: #363636;
        }
      }
    }

    .menu2 {
      ion-item {
        margin: 15px 15px;
        --min-height: 100px;
        --background: #DCEDC2;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(5px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 15px;

        h1 {
          color: #4e2f00;
        }

        p {
          color: #363636;
        }
      }
    }
  }
}
