ion-content {
  --background: #FFFFFF;
  .header {
    padding: 10px 1px;
    --background: none;
    color: black;

    ion-label {
      font-size: 30pt;
      padding-left: 20%;
    }
  }

  .list {
    ion-card {
      --background: none;
      margin-bottom: 10px;

      ion-item {
        --background: #A8E6CE;

        --border-radius: 15px;
        --min-height: 100px;
        ion-label {
          p {
            color: white;
            font-size: 10pt;
            font-weight: 500;
          }
          h1 {
            color: black;
            font-size: 18pt;
            font-weight: 700;
          }
        }
      }
    }
  }
  .tambah {
    position: absolute;
    top: 85%;
    left: 35%;
    ion-button {
      align-items: center;
      --min-height: 40px;
      --background: #A8E6CE;
      --border-radius: 20px;
    }
  }
}
